table{
    width: 70%;
    position: relative;
    left: 10%;
    margin-top:5%;
    
}
td.view{
    border: 1px solid cornsilk;
    padding: 10px;
    text-align: left;
    font-weight: 600;
    background-color:hsla(120, 5%, 18%, 0.8);;
    color: rgb(241, 236, 236);
   
}

td a{
    display: inline-block;
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1ba31b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px rgb(180, 180, 180);
    
}
#link{
    text-align: center;
}
th{
    background-color: rgb(42, 43, 41);
    color: rgb(241, 236, 236);
}
div.content{
    background: url("tablebackg.jpg") no-repeat center / cover;
    position: absolute;
    top: 10%;
    width: 100%;
}
